body {
  background-color: #e1e6eb;
}

.parent {
  position: relative;
  width: 800px;
  height: 800px
}

input {
  width: 300px;
  font-size: 20px;
  background: transparent;
  border-style: hidden;
  color: grey;
}

.username {
  position: absolute;
  left: 355px;
  top: 395px;
}

.userpass {
  position: absolute;
  left: 355px;
  top: 440px;
}

.userInput::placeholder {
  font-size: 30px;
  color: #b0b0b0;
}

.btn {
  position: absolute;
  left: 355px;
  top: 510px;
  font-size: 20px;
  background: transparent;
  border-color: #f2f2f2;
  color: grey;
  border-style: hidden;
  outline: 3px solid #e6e6e6;
  padding: 5px;
}

#lock {
  position: absolute;
  left: 580px;
  top: 640px;
  font-size: 35px;
  color: #fff;
}